EMSP_SECRET_KEY=remplacer-par-une-valeur-aleatoire
DATABASE_URL=
FLASK_DEBUG=0
CONTACT_EMAIL=contact@emsp.ci
CONTACT_PHONE=+225 27 21 21 45 60
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=
SMTP_USE_TLS=1
SMTP_USE_SSL=0
PUBLIC_BASE_URL=http://127.0.0.1:5000
GOOGLE_CLIENT_ID=remplacer-par-votre-client-id
GOOGLE_CLIENT_SECRET=remplacer-par-votre-client-secret
GOOGLE_REDIRECT_URI=http://localhost:5000/login/google/authorized
